extends layout

block content
    h1.center-align CHAT APP
    section.login-wrapper
        form.login-form
            label(for="login-user-input") Username:
            input#login-user-input(type="text")
            label(for="login-password-input") Password:
            input#login-password-input(type="password")
            button#login-btn.waves-effect.waves-light.btn-large Sign in
        p.sign-up-message
            | New here?
            a(href="/sign-up") Sign up

block libs
    script(src='/socket.io/socket.io.js')
block scripts
    script(src='/js/chat.js')