doctype html
html
  head
    title CHAT APP
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content
    block libs
    script(src='/js/main.js')
    block scripts

