extends layout

block content
    h1.center-align CHAT APP
    section.auth-form-wrapper
        h4 SIGN UP
        form.mt-1_5.auth-form#signup-form
            label(for="signup-user-input") Username:
            input#signup-user-input(type="text")
            label(for="signup-password-input") Password:
            input#signup-password-input(type="password")
            label(for="signup-password2-input") Confirm password:
            input#signup-password2-input(type="password")
            button#signup-btn.waves-effect.waves-light.btn-large Confirm

block libs
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js')

block scripts
    script(src='/js/signup.js')

